.vs/
packages/
*/obj/
*/bin/
/*.pdb
/*.xml
/*.dll
Interface/node_modules/
Interface/dist/*
!Interface/dist/index.html
!System.Configuration.Install.dll
!System.ComponentModel.DataAnnotations.dll
!System.Numerics.dll
!EntityFramework.resources.dll
