<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.7" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.7" targetFramework="net452" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net452" />
</packages>