@font-face {
	font-family: gravity;
	src: url(fonts/gravity.woff2);
}

@font-face {
	font-family: pricedown;
	src: url(fonts/pricedown.woff2);
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
}

body > main {
	position: absolute;
	user-select: none;
	font-family: gravity;
	/* border: 1px solid red; */
}
